#introduccion a numpy

In [ ]:
[Numpy](https://numpy.org/doc/stable/)

SyntaxError: invalid syntax (<ipython-input-1-cf1c1c3618a7>, line 1)

es una libreria para la computacion con Python.

*   Proporciona arrays n dimencionales
*   implementa funciones matematicas sofisticadas.

*   Proporciona herramientas para integrar C/C++ y Fortran.
*   Proporciona mecanismos para facilitar la realizacion de las tareas relacionadas con algebra lineal o numeros aleatorios.


*   Proporciona arrays n dimencionales

*   Proporciona arrays n dimencionales
*   implementa funciones matematicas sofisticadas.


*   Proporciona herramientas para integrar C/C++ y Fortran.

*   Proporciona mecanismos para facilitar la realizacion de las tareas relacionadas con algebra lineal o numeros aleatorios.

In [ ]:



#imports
import numpy as np
## Arrays
Un **array** es una estructura de datos que consiste en una coleccion de elementos (valores) o variables, cada uno identoficado por almenos un indi
o clave.Un array de amacena de modo que la posicion de cada elemento se almacena de modo que la posicion de cada elemento se pueda calcular a partir de su tupla de indice mediante una formula matematica.
El tipo mas simple de array es un array lineal, tambien llamado array unidimencional

#En numpy
*cada dimencion se denomina **axis**
*el numero de dimenciones se denomina **rank**
*la lista de dimenciones con su correspondiente longitud se denomina **shape**
*el numero total de elementos (multiplicacion de la lomgitud de las dimenciones) a esto se denomina **size**.

SyntaxError: invalid syntax (<ipython-input-10-5dd47609f614>, line 2)

  
*   Proporciona arrays n dimencionales
*   implementa funciones matematicas sofisticadas.
*   Proporciona herramientas para integrar C/C++ y Fortran.
*   Proporciona mecanismos para facilitar la realizacion de las tareas relacionadas con algebra lineal o numeros aleatorios.

In [ ]:
#imports
import numpy as np
## Array cuyos valores son todos 0.
a = np.zeros((2,4))
print(a)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]]

a es un array

*   Con dos **axis**, el primero de longitud 2 y el segundo de longitud 4.
*   Con un **rank** igual a 2
*   Con un **shape** igual a (2,4)
*   con un **size** igual a 8

In [ ]:
a.shape

(2, 4)

In [ ]:
a.ndim

2

In [ ]:
a.size

8

# Array cuyos valores son todos 0.

In [ ]:
np.zeros((2,3,4))

array([[[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]]])

# Array cuyos valores son todos 1.

In [ ]:
np.ones((2,3,4))

# Array cuyos valores son todos el valor indicado como segundo par metro de la funcion

In [ ]:
np.full((2,3,4),8)

# El resultado de np.empty no es predecible
# Se inicializa con los valores que haya en memoria en ese momento.

In [ ]:
import numpy as np
np.empty((2,3,9))

array([[[4.91250487e-310, 0.00000000e+000, 0.00000000e+000,
         0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
         0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
        [0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
         0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
         0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
        [0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
         0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
         0.00000000e+000, 0.00000000e+000, 0.00000000e+000]],

       [[0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
         0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
         0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
        [0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
         0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
         0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
        [4.00193173e-322, 4.91194342e-310, 6.67562475e-310,
         6.67561738e-310, 6.67561738e-310, 6.67561738e-310,
         6.67561738e-310, 6.67561738e-310, 6.67561738e-310]]])

# Inicializar el array utilizando un array de python.

In [ ]:
b = np.array([[1,2,3],[4,5,6]])
print(b)

[[1 2 3]
 [4 5 6]]

In [ ]:
b.shape

(2, 3)

# Crear un array utilizando una funcion basada en rangos.
# (Minimo, maximo, numero de elementos del array)

In [ ]:
import numpy as np
print(np.linspace(0,6,10))

[0.         0.66666667 1.33333333 2.         2.66666667 3.33333333
 4.         4.66666667 5.33333333 6.        ]

# Inicializar el array con valores aleatorios.

In [ ]:
np.random.rand(3,3,4)

array([[[0.6728425 , 0.00456144, 0.4969779 , 0.57308369],
        [0.08321983, 0.46761713, 0.22666873, 0.91473837],
        [0.73539729, 0.63333994, 0.68688163, 0.89054691]],

       [[0.08016527, 0.93205051, 0.64303973, 0.81975662],
        [0.53415651, 0.42868576, 0.40789669, 0.7517003 ],
        [0.88782894, 0.28706404, 0.76456201, 0.19429479]],

       [[0.82399968, 0.6252132 , 0.13184315, 0.00521073],
        [0.91047622, 0.17596055, 0.15159457, 0.22244978],
        [0.68246469, 0.14616685, 0.70338111, 0.49607146]]])

# Iniciar array con valores aleatorios conforme a una distribucion normal.

In [ ]:
np.random.randn(2,4)

array([[-0.92370318,  0.84603049,  1.52532207,  1.0233474 ],
       [-0.29510175,  0.17630452,  2.46468429, -0.58195516]])

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

c = np.random.randn(1000)
plt.hist(c,bin 200)
plt.show()

# Inicializar un array utilizando una funcion personalizada

In [ ]:
def func(x,y):
  return x+2*y
  np.fromfunction(func ,(3,5))

**## Acceso a los elementos de un array**
**## Array Unidimencional**

# Acceder a los elementos de un array

In [ ]:
array_uni = np.array([1,3,5,7,9,11])
print("Shape:", array_uni.shape)
print("Array_uni ",array uni)

# Accediendo al quinto elemento del array.

In [ ]:
array_uni[9]

# Acceder al tercer y cuarto elemento del array

In [ ]:
array_uni[2:4]

### Array multidimencional

#Crear un array multidimencional.

In [ ]:
array_multi = np.array([[1,2,3,4], [5,6,7,8]])
print("Shape", array_multi.shape)
print("Array_multi:\n", array_multi)

# Acceder al cuarto elemento del array

In [ ]:
array_multi[0,3]

# Acceder a la segunda fila del array

In [ ]:
array_multi[1,:]

# Acceder al primer elemento de las dos primeras filas del array

In [ ]:
array_multi[0:2,2]

# Modificacion de un array

# Crear un arreglo unidimencional e inicializarlo con un rango de elementos 0-27

In [ ]:
array1 = np.arange(28)
print("Shape", array1.shape)
print("Array:\n", array1)

#Cambiar las dimenciones del array y sus longitudes.
array1.shape = (7,4)

In [ ]:

array1.shape = (7,4)
print("Shape", array1.shape)
print("Array:\n", array1)

# El ejemplo anterior debuelve un array que apunta a los mismos datos
# Nota: modificasiones en el array, modificaran el otro array

In [ ]:
array2 = array1.reshape(4,7)
print("Shape", array1.shape)
print("Array:\n", array1)

#Modificacion  del nuevo array devuelto

In [ ]:
array2[1,3]=30
print("Array2:\n", array2)
print("Array1:\n", array1)

NameError: name 'array2' is not defined

# Devolver el array a su estado original

In [ ]:

print ("Array1",array.ravel())

## Operaciones aritmeticas con arrays

In [ ]:
array1 = np.arange(2,18,2)
array2 = np.arange(8)
print ("Array1",array1)
print ("Array2",array2)

# suma

In [ ]:
print(array1 + array2)

# Resta

In [ ]:
print(array1 - array2)

# Multiplicacion
#Nota:No es una multiplicacion de matrices

In [ ]:
print(array1 * array2)

##Broad casting
si se aplican operaciones